Source: {{ source_name }}
Section: java
Priority: optional
Maintainer: {{ maintainer_name }} <{{ maintainer_email }}>
Build-Depends:
 clojurehelper,
 debhelper (>= 9),
 default-jdk,
 javahelper (>= 0.43),
 clojure1.4,
 libtext-markdown-perl | markdown
Standards-Version: 3.9.3
Homepage: {{ homepage }}
Vcs-Git: git://git.debian.org/pkg-clojure/{{ source_name }}.git
Vcs-Browser: http://git.debian.org/?p=pkg-clojure/{{ source_name }}.git

Package: {{ package_name }}
Architecture: all
Depends: ${java:Depends}, ${misc:Depends}
Recommends: ${java:Recommends}
Description: {{ summary }}
 {{ long_desc }}
